@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.home {
  margin: 0;
  padding: 0;
  font-family: 'Poppins'
}
body {  
  background-image: url(/src/assets/homeBackground.jpeg);
  padding: 20em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

}
.bg-image {

}
.header {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title {
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-align: center;
}
.color {
  color: #00A1FC;
}
.browse-button {
  color: white;
  background-color: #00A1FC;
  
}

