.search-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 7rem;
    padding-bottom: 3rem;
    

  }

.initial-search{
    position: fixed;
   

}

.movies {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    margin-top: 10px;
    
 


}

.searchField {
 margin-left: 450px;
 

}
/*
.title1 {
    color: rgb(255, 244, 244);
    
}
*/
.input {
padding-top: 0.1rem;
border-radius: 2px solid;
margin-left: 450px;

}
.btn-search {
    padding-top: 0.3rem;
    margin-top: -2rem;
    margin-left: 40px;
    
}
.btn-search:hover {
background-color: rgb(36, 116, 255);

}

.buyMovieBtn {
    margin-right: 10px;
}

.buyMovieBtn:hover {
    background-color: rgba(36, 116, 255);
    cursor: pointer;
    transition: 0.3s ease-in;

}

ul{
    list-style: none;
}

.posterContainer{
  
    height: 350px;
    width: 300px;
    max-width: 80vw;
    max-height: 80vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.poster{
    height: 100%;
    margin-right: -40px;
}