.search-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 7rem;
    padding-bottom: 3rem;
  }

.initial-search{
    position: fixed;
}


.input {
padding-top: 0.2rem;
}
.btn-search {
    padding-top: 0.5rem;
    margin-top: -2rem;
    

}