.search-content {
    text-align: center;
    padding-left: 550px;
    padding-top: 7rem;
    position: fixed;

}
.input {
padding-top: 0.2rem;
}
.btn-search {
    padding-top: 0.5rem;
    margin-top: -2rem;
    

}