.cart_wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    margin: 100px auto;
    padding: 20px;
    /* min-width: 50px; */
    text-align: center;
    /* margin-left: 400px; */
    max-width: 400px;

}

.checkout_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}
.cart-title {
    color: white;
}

