.cart_wrapper {
    display: flex;
    color: white;
    flex-direction: column;
    margin: 100px;
    padding: 20px;
    min-width: 50px;
    text-align: center;
    margin-left: 400px;

}

.checkout_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart-title {
    color: white;
}

