.user_bar {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-top: 20px;
    padding-left: 0px;
    
}
.login_btn {
    color: white;
    background-color: rgb(0, 140, 255);
    height: 60px;
    margin-left: 150px; 
    width: 100px;
}
.logout_btn {
    color: white;
    background-color: rgb(0, 140, 255);
    margin-left: 5px;
}
.logout_btn:hover {
    background-color: rgb(172, 172, 172);
}
.login_btn:hover {
    background-color: rgb(172, 172, 172);
}
.input-user {
    background-color: rgb(39, 39, 39);
}
.input-password {
    background-color: rgb(39, 39, 39);
}