.navbar {



    width: 300%;
    height: 100px;
    background-color: rgba(22,22,22);
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    border-bottom: rgba(0, 0, 0, 0.098) solid 1px;
    margin-top: -45%;

}

.navbar  .rightSide:hover{
    background-color: rgba(18, 66, 162, 0.83);
    cursor: pointer;
    transition: 0.4s ease-out;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
   
   
   
   
   }
   


.navbar .leftSide img {

    width: 140px;
    color: rgb(19, 19, 18);
    
   
   }
   
   
   
   
   .navbar .rightSide {
   
       flex: 50%;
       height: 100%;
       display: flex;
       align-items: center;
   
   
   
   
   
   }
   
   
   
   
   
   .navbar a {
   
    color: rgb(9, 8, 8);
    padding: 10px;
    text-decoration: none;
    font-weight: lighter;
    margin: 40px;
   
   
   }
   
   .navbar .rightSide button {
   
    background-color: transparent;
    border: none;
    color: rgb(82, 34, 240);
    cursor: pointer;
   
   
   }
   
  